#codeacamp {
	padding-left: 65px;
}

.some {
	padding-left: 65px;

}

.first {
	padding-bottom: 30px;
}


.button {
	padding-left: 90px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.results {
	padding-left: 40px;
	padding-bottom: 10px;
}